*{
  margin: 0;
  padding: 0;
}
.content {
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  background: url('../image/backgrnd.jpeg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 65px;
}


.container {
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 10px;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.image-preview img {
  margin: 15px auto;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: 2px solid #007bff;
  display: block;
}
.select-button, .upload-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.select-button:hover, .upload-button:hover {
  background-color: #0056b3;
}

.profile-picture-container {
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 2px solid #0c0b0b;
  margin-left: 25%;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* General styling for the messages container */
.messages {
  margin: 10px 0;
  padding: 0;
  list-style-type: none;
}

/* Styling for individual message items */
.message-success {
  color: green;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 10px;
}

.message-error {
  color: red;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  margin-bottom: 10px;
}