<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Registration</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" placeholder="Enter your full name" >
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Enter your email" >
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" >
            </div>
            <button class="button" type="submit">Register</button>
        </form>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="message-{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    
    </div>
</body>
</html>